header{
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid royalblue;
    background: #ffe51d5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    /* min-width: 300px; */
    margin-left:100px;
  }
  
  
  @media (max-width:768px) {
    header{
      font-size: 15px;
      padding: 10px;
    }
  }